.cover {
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-top: .4rem;
}

.userPhoto {
    width: 3rem;
    overflow: hidden;
    border-radius: 1.5rem;
    height: 3rem;
}

.userPhotot img {
    max-width: 100%;
}

.username {
    text-align: center;
    font-size: .34rem;
}

.logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.2rem;
    width: 4rem;
    text-align: center;
    left: 50%;
    margin-left: -2rem;
}